@require '../../styles/global'

.list-view > .content {
	padding: 35px 25px;
}

.list-view > .content > table {
  layout: column start start;
	size: 100% auto;
	overflow-x: scroll;
	padding-bottom: 10px;
	border-collapse: collapse;
		
	th {
		box-sizing: border-box;
		padding-right: 35px;
		white-space: nowrap;
		min-width: 125px;
		text-align: left;
		padding: 15px 5px;
		letter-spacing: 0px;
		font-size: 1.4rem;
	}
	
	td {
		box-sizing: border-box;
		min-width: 125px;
		padding: 15px 12px;
	}
	
	tr:nth-child(odd):not(.headers) {
		background: #f2f2f2;
	}
}