
//  layout: column center start;
//  layout: row center end;

layout(type, x, y, wrap = false, z = false) {
	if type is row {
		display: flex;
		flex-direction: row;
		justify-content: x;
		align-items: y;
	} else if type is column {
		display: flex;
		flex-direction: column;
		justify-content: y;
		align-items: x;
	}
	
	if type(wrap) is 'boolean' and wrap is true {
		flex-wrap: wrap;
	}
	
	if z is true {
		align-content: z;
	}
}

// centered: true;

centered(bool) {
	if bool is true {
		margin-left: auto;
		margin-right: auto;
	}
}