
margin() {
  if length(arguments) is 4 {
    if arguments[0] isnt _ {
      margin-top: arguments[0];
    }
    if arguments[1] isnt _ {
      margin-right: arguments[1];
    }
    if arguments[2] isnt _ {
      margin-bottom: arguments[2];
    }
    if arguments[3] isnt _ {
      margin-left: arguments[3];
    }
  }
  
  else if length(arguments) is 3 {
    if arguments[0] isnt _ {
      margin-top: arguments[0];
    }
    if arguments[1] isnt _ {
      margin-left: arguments[1];
      margin-right: arguments[1]
    }
    if arguments[2] isnt _ {
      margin-bottom: arguments[2];
    }
  }
  
  else if length(arguments) is 2 {
    if arguments[0] isnt _ {
      margin-top: arguments[0];
      margin-bottom: arguments[0];
    }
    if arguments[1] isnt _ {
      margin-left: arguments[1];
      margin-right: arguments[1];
    }
  }
  
  else {
    margin: arguments;
  }
}


// x-margin: 25px 15px;

x-margin(l, r = l) {
	margin-left: l;
	margin-right: r;
}


// y-margin: 25px 15px;

y-margin(t, b = t) {
	margin-top: t;
	margin-bottom: b;
}


padding() {
  if length(arguments) is 4 {
    if arguments[0] isnt _ {
      padding-top: arguments[0];
    }
    if arguments[1] isnt _ {
      padding-right: arguments[1];
    }
    if arguments[2] isnt _ {
      padding-bottom: arguments[2];
    }
    if arguments[3] isnt _ {
      padding-left: arguments[3];
    }
  }
  
  else if length(arguments) is 3 {
    if arguments[0] isnt _ {
      padding-top: arguments[0];
    }
    if arguments[1] isnt _ {
      padding-left: arguments[1];
      padding-right: arguments[1]
    }
    if arguments[2] isnt _ {
      padding-bottom: arguments[2];
    }
  }
  
  else if length(arguments) is 2 {
    if arguments[0] isnt _ {
      padding-top: arguments[0];
      padding-bottom: arguments[0];
    }
    if arguments[1] isnt _ {
      padding-left: arguments[1];
      padding-right: arguments[1];
    }
  }
  
  else {
    padding: arguments;
  }
}


// x-padding: 25px 15px;

x-padding(l, r = l) {
	padding-left: l;
	padding-right: r;
}


// y-padding: 25px 15px;

y-padding(t, b = t) {
	padding-top: t;
	padding-bottom: b;
}


// size: 100% 50px;

size(width, height = width) {
	width: width;
	height: height;
}


// max-size: 1024px 50px;

max-size(width, height = width) {
	max-width: width;
	max-height: height;
}


// max-size: 1024px 50px;

min-size(width, height = width) {
	min-width: width;
	min-height: height;
}


// container: 1024px 50px;
// Used for simulating a full width element
// with a background color that has a child
// container element that keeps content within
// a specific max-width boundary.
container(min, pad) {
	pad = pad * 2
	amount = "calc((100% - %s + %s) * 0.5)" % (min pad);
  +ABOVE(min) {
    max-width: 100%;
    x-padding: amount;
  }
}