@require './styles/global'



#app {
	layout: row start start;
}

#app > #views {
	size: 100% 100%;
}

#app > #side-nav > h2 {
	margin: 0 20px;
	color: red0;
	font-weight: 500;
	position: relative;
	bottom: 3px;
	height: 122px;
	layout: row center center;
	
	span {
		opacity: 0.5;
	}
	
	a {
		color: red0;
	}
}

#app > #side-nav {
	box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14),
		0 1px 5px 0 rgba(0,0,0,0.12),
		0 3px 1px -2px rgba(0,0,0,0.2);
	z-index: 25;
	size: 300px 100%;
	min-width: 300px;
	background: white;
}
	
#app > #side-nav > ul {
	list-style-type: none;
	height: 100%;
	
	li {
		&:hover {
			background: #f2f2f2;
		}
		
		a {
			display: inline-block;
			width: 100%;
			padding: 8px 15px;
		}
	}
}

#app > #views {
	background: #FCFCFC;
	width: calc(100% - 300px);
}