@require '../../styles/global'

#view-header {
	size: 100% 122px;
	padding: 0 50px;
	layout: row between center;
	background: red0;
	color: white;
	
	.view-options {
		svg {
			cursor: pointer;
		}
		
		.create-icon {
			position: relative;
			bottom: 3px;
			margin-left: 15px;
		}
	}
}